<div id="boards-show-page">
  <% board = get_board_by_id(session[:current_board_id]) %>

  <% content_for :nav_button_left do %>
    <button type="button" name="button">Button</button>
  <% end %>

  <!-- <ul class="side-nav fixed"> -->
  <nav class="side-nav fixed">
    <!-- will create lists here  -->

  </nav>

  <div class="content">
    <!-- will create cards here -->

  </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      var pathname = window.location.pathname.split("/");
      var boardId = pathname[pathname.length-1]
      MyTrello.loadBoardLists(boardId);
      window.setTimeout(function() {
        $('ul.tabs').tabs()

        $("[data-action=mark-read]").on("click", markRead);
      }, 1000);

      $(".collection-item").click(function() {
        MyTrello.adCardContent
      })
    })


    // $("[data-action=mark-read]").on("click", function() {
    //   console.log("sssss");
    // });
  </script>
<% end %>
