<div id="boards-page">
  <div class="boards-container row">
    <!-- will append board items here by call loadBoards-->
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function() {
      MyTrello.loadBoards();
    })
  </script>
<% end %>
