<div id="boards-show-page">
  <% board = get_board_by_id(session[:current_board_id]) %>

  <% content_for :nav_button_left do %>
    <button type="button" name="button">Button</button>
  <% end %>

  <!-- <ul class="side-nav fixed"> -->
  <nav class="side-nav fixed">
    <!-- will create tabs here  -->
    
  </nav>

  <div class="content">
    <!-- will create collection here -->

  </div>
</div>
