.card-content {
  height: 135px;
  max-height: 135px; }

ul {
  margin-top: 0 !important; }

.side-nav {
  top: inherit; }

#boards-show-page > .content {
  padding-left: 240px;
}

.side-nav > li {
  padding: 0 !important;
}

.side-nav > li > a{
  padding: 0 30px !important;
}

.tabs > .tab {
  width: 100% !important;
  height: initial;
  line-height: 48px;
  float: none;
  text-align: left;
  margin: 0;

}

.tabs > .indicator {
  display: none;
}

.mark-read-button {
  position: absolute;
  right: 10px;
  height: 20px;
  line-height: 20px;
}
